.hero.has-background {
    position: relative;
    overflow: hidden;
  }
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 0.7;
}
.hero p {
  color: #fff;
}
.hero.has-carousel .hero-body {
  z-index: initial !important;
}
#carousel .container {
  margin-top: -5rem;
}
.flotante {
  position: fixed; 
  bottom: 2rem;
}
.flotante2 {
  position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
}
.footer {
  padding: 0 1.5rem 3rem 1.5rem;
}
footer .columns {
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .no-mobile {
    display: none;
  }
}
hr {
  background: linear-gradient(rgb(245, 245, 245), #fff);
  height: 3rem;
}